.modules_navigation{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.modules_list>h2{
    margin-top: 2rem;
}
.save_btn{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap:1rem
}
.save_info,.create_info{
    display: flex;
    align-items: center;
    max-width: 25rem;
    gap:1rem;
    color:var(--text-secondary);
}
.create_info{
    max-width: max-content; 
    font-size: 1.6rem;
    margin-left: 2rem;
    
}
.create_modules_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.create_modules_header h2{
    color:var(--text-primary);
    font-size: 3rem;
    font-weight: 700;
}
#preview{
    margin-top: 2rem;
}