.header{
    background-color: var(--primary-background);
    height:6rem;
    /* padding:0rem 4rem; */
    display: grid;
    grid-template-columns: max(30rem,22.5%) auto;
    border-bottom:1px solid #e7edf2;
    
    
}
.ham{
    z-index: 999;
    padding-top: 0.75rem;
    /* background-color: var(--primary-dark); */
}
.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-background);
    padding-right: 2rem;
}
.search_container{
    width:70%;
    min-width:15rem;
    max-width: 55rem;
}
.header_nav{
    font-size: 1.6rem;
}
.logout:hover{
    cursor: pointer;
}
.profile_icon{
    display: flex;
    align-items: center;
}
.menu_item{
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: left;
}
.menu_item_icon{
    display: flex;
    margin-right: 1.4rem;
}
.menu_item_text{font-size: 1.4rem;}

.profile_picture{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
}