.header{
    background-color: var(--primary-background);
    height:6rem;
    padding:0rem 4rem;
    border-bottom:1px solid #e7edf2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search_container{
    width:70%;
    min-width:15rem;
    max-width: 55rem;
}
.header_nav{
    font-size: 1.6rem;
}
.logout:hover{
    cursor: pointer;
}